* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}



.interruttore {
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    background-color: orangered;
    filter: brightness(0.7); 
    /* inserisco un filtro standard per avere la modifica 
    prima di passare il mouse sull'interruttore */
}



.container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
}

.lampadina {
    height: auto;
    width: 230px;
}